
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #67caad;

    .fields {
        width: 40%;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 10px 50px;

        .content {

            .title {
                font-weight: bold;
                font-size: 24px;
            }

            form {
                .item {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 15px;

                    label {
                        font-weight: 400;
                        padding-bottom: 5px;
                    }

                    input {
                        height: 30px;
                        border-radius: 4px;
                        border-width: 0.1px;
                        opacity: 40%;
                    }
                }

                .submit {
                    margin: auto;
                    width: fit-content;

                    button {
                        font-size: 15px;
                        border-color: #67caad;
                        color: #67caad;
                        height: 30px;
                        width: 80px;
                        cursor: pointer;
                        background-color: white;
                        border-style: solid;

                        &:hover {
                            background-color: #bababa;
                            color: #00aa77;
                        }
                    }
                }
            }

            .account {
                display: flex;
                font-size: 15px;

                span {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-left: 10px;
                    justify-content: flex-end;
                    color: blue;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}
