@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

:root {
    --color-royal-blue: #83a9f6;
    --color-green: #67caaccb;
    --color-teal: #67caad;
	--color-white: #ffffff;
	--color-black: #000000;
}

/* sidebar */

body {
    background: var(--color-white);
    font-family: "Open Sans", sans-serif;
    color: var(--color-black);
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
}

nav::-webkit-scrollbar {
    display: none;
}

ul {
    margin: 0;
}

.sidebar__container {
    background: var(--color-teal);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
}

.sidebar__icon {
    background: var(--color-white);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: border-radius 128ms, background 128ms, color 128ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__icon:hover {
    border-radius: 36%;
}

.sidebar__icon:hover::before {
    transform: translate(-100%, -50%) scale(.5);
}

.sidebar__icon:hover .popper {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.icon1__inner {
    padding-left: 5px;
    padding-top: 5px;
}

.back {
    color: var(--color-royal-blue);
}

.back:hover {
    background: var(--color-royal-blue);
    color: var(--color-teal);
}

.divider {
    width: 100%;
    background: var(--color-white);
    height: 3px;
    border-radius: 1px;
    opacity: .5;
    transform: scale(.75);
    list-style: none;
}

.popper {
    background: var(--color-teal);
    padding: 0rem 1rem;
    position: absolute;
    top: 50%;
    left: 155%;
    transform-origin: left;
    transform: translateY(-50%) scale(.98);
    width: max-content;
    max-width: 256px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 64ms, transform 128ms cubic-bezier(0.43, 0.09, 0.38, 2.56);
    pointer-events: none;
    color: var(--color-white);
}

.popper::before {
    content: '';
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: var(--color-teal);
    width: 24px;
    height: 24px;
    z-index: -1;
}


/* channel list */
.channel-list__container {
    display: flex;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  }

.channel-list__list__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-green);
    margin-left: calc(2em + 48px); 
    width: 240px;
  }

.channel-list__header {
    height: 62px;
    color: var(--color-black);
    font-weight: bold;
}

.channel-search__input__icon img {
    height: 20px;
    width: 20px;
    padding-top: 3px;
    padding-right: 8px;
}

.channel-search__input__icon {
    float: left;
}

.team-channel-list__message {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 10px;
}

.channel__container {
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    margin-left: calc(2em + 288px);
}

/* app wrapper */

.app__wrapper {
    display: flex;
}

/* actual chat */

.channel__container {
    height: 100%;
    width: 100%;
    margin-left: 0px;
  }

.team-channel-header__container {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #ffffff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 16px;
    z-index: 1;
}

.team-channel-header__channel-wrapper svg {
    cursor: pointer;
    display: flex;
    max-width: 100px;
    margin-left: 10px;
}

.team-channel-header__channel-wrapper {
    width: 300px;
    display: flex;
    align-items: center;
}

span {
    vertical-align: middle;
}

.team-channel-header__name {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #2c2c30;
}
  
.team-channel-header__name-wrapper {
    flex: 3;
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 1000px;
    max-width: 1000px;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (min-width: 1000px) {
    .team-channel-header__name-wrapper {
        max-width: 700px;
    }
}

.team-channel-header__name-wrapper::-webkit-scrollbar {
    display: none;
}

.team-channel-header__name-multi {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.team-channel-header__name-multi:nth-child(3) {
    margin-right: 0px;
}

.team-channel-header__name-wrapper .str-chat__avatar {
    margin-right: 8px;
}

.team-channel-header__name.user {
    font-weight: 500;
    font-size: 14px;
}

.team-channel-header__right {
    flex: 0.55;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.team-channel-header__right-pin-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.team-channel-header__right svg {
    margin-left: 16px;
    margin-right: 4px;
}

.team-channel-header__right-text {
    font-family: O, sans-serif;
    font-size: 14px;
    color: #858688;
}

.team-channel-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team-channel-list__message {
    color: #ffffff;
    padding: 0 16px;
}

.team-channel-list__message.loading {
    height: 115px; 
}

.team-channel-list__header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-channel-list__header svg {
    cursor: pointer;
}

.str-chat__avatar {
    margin-left: 60px;
}

.str-chat__ul {
    position: relative;
    left: -20px;
}

.str-chat__date-separator {
    position: relative;
    left: 30px;
}